.header {
  nav {
    font-size: 2.8rem;
    background-color: $color-2;
    display: flex;
    justify-content: space-between;
    color: $white;
    padding: 0 25px;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 20px;
      flex: 2;

      a {
        text-decoration: none;
        color: $white;

        &:hover .dropdown-content {
          display: block;
        }

        li {
          display: flex;
          justify-content: space-around;
          align-items: center;

          p {
            font-size: 1.5rem;
          }
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: white;
          min-width: 160px;
          z-index: 1;

          a {
            color: $black;
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            border: 0.2px solid $black;
            text-align: left;
            padding-left: 5px;
          }
        }
      }
      a.nav-inactive {
        color: $color-3;

        &:hover {
          color: $white;
        }

        p {
          color: $white;
        }
      }

      a.nav-active {
        color: $white;
      }
    }
    div {
      flex: 1;
      text-align: right;
    }
  }
}
