.header {
  nav {
    font-size: 2.8rem;
    background-color: $color-2;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 20px;

      a:first-child {
        padding-left: 25px;
      }

      a {
        text-decoration: none;
        color: $white;

        li {
          display: flex;
          justify-content: space-around;
          align-items: center;

          p {
            font-size: 1.5rem;
          }
        }
      }
      a.nav-inactive {
        color: $color-3;

        &:hover {
          color: $white;
        }

        p {
          color: $white;
        }
      }

      a.nav-active {
        color: $white;
      }
    }
  }
}
