.header {
  .searchResultsContainer {
    position: fixed;
    left: 0;
    width: 100%;
    height: calc(100vh - 65px);
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 12px;
    overflow: hidden;

    .searchResultsInner,
    .searchResultsInnerLong {
      position: relative;
      padding-top: 10px;
      width: 50%;
      max-width: 750px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 5px;
      min-height: 400px;
      z-index: 20;

      .resultsContainer {
        display: flex;

        h2 {
          margin: 15px;
          margin-bottom: 10px;
          padding: 0 5px;
          font-weight: 700;
          color: #333;
          font-size: 12px;
        }

        .moreResults {
          display: flex;
          margin: 20px 20px;
          color: $color-2;

          p {
            padding-left: 10px;
          }
        }

        .resultContainer {
          display: flex;
          margin: 10px 20px;
          cursor: pointer;

          &:hover {
            background-color: $focus;
          }

          img {
            width: 30px;
            margin-right: 20px;
          }

          h3 {
            color: $color-2;
            font-weight: 200;
          }

          p {
            color: $gray;
          }
        }
      }
    }

    .searchResultsInnerLong {
      height: 700px;
    }
  }
}
